/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1b63a2;
  --ifm-color-primary-dark: #185992;
  --ifm-color-primary-darker: #17548a;
  --ifm-color-primary-darkest: #134571;
  --ifm-color-primary-light: #1e6db2;
  --ifm-color-primary-lighter: #1f72ba;
  --ifm-color-primary-lightest: #2179c6;
  --ifm-code-font-size: 95%;
  --ifm-footer-link-hover-color: var(--ifm-color-secondary);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-Footer-link-text-color: #4b8bc3;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4b8bc3;
  --ifm-color-primary-dark: #5592c6;
  --ifm-color-primary-darker: #4b8bc3;
  --ifm-color-primary-darkest: #4386c0;
  --ifm-color-primary-light: #6da1ce;
  --ifm-color-primary-lighter: #7eacd4;
  --ifm-color-primary-lightest: #9cbfde;
  --ifm-code-font-size: 95%;
  --ifm-footer-link-hover-color: var(--ifm-color-secondary);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.theme-doc-markdown.markdown img {
  filter: drop-shadow(0.35rem 0.35rem 0.23rem #4A5568);
}

.indexCtas {
  --ifm-button-size-multiplier: 1.6;
  margin-top: 24px;
}

.icon--3x {
  fill: var(--ifm-color-primary);
  font-size: 3rem;
}

.line-bottom {
  border-bottom: 2px solid currentColor;
}

.line-bottom--pri {
  color: var(--ifm-color-primary);
}

/* Adding more readable color for JDL Footer Link */
#JEDL_Footer_Link {
  color: var(--ifm-Footer-link-text-color);
}


/** API Menu Badges **/

/* Sidebar Method labels */
.api-method > .menu__link,
.schema > .menu__link {
  align-items: center;
  justify-content: start;
}

.api-method > .menu__link::before,
.schema > .menu__link::before {
  width: 55px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.25rem;
  border: 1px solid;
  border-inline-start-width: 5px;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
}

.get > .menu__link::before {
  content: "get";
  background-color: var(--ifm-color-info-contrast-background);
  color: var(--ifm-color-info-contrast-foreground);
  border-color: var(--ifm-color-info-dark);
}

.post > .menu__link::before {
  content: "post";
  background-color: var(--ifm-color-success-contrast-background);
  color: var(--ifm-color-success-contrast-foreground);
  border-color: var(--ifm-color-success-dark);
}

.delete > .menu__link::before {
  content: "del";
  background-color: var(--ifm-color-danger-contrast-background);
  color: var(--ifm-color-danger-contrast-foreground);
  border-color: var(--ifm-color-danger-dark);
}

.put > .menu__link::before {
  content: "put";
  background-color: var(--ifm-color-warning-contrast-background);
  color: var(--ifm-color-warning-contrast-foreground);
  border-color: var(--ifm-color-warning-dark);
}

.patch > .menu__link::before {
  content: "patch";
  background-color: var(--ifm-color-success-contrast-background);
  color: var(--ifm-color-success-contrast-foreground);
  border-color: var(--ifm-color-success-dark);
}

.head > .menu__link::before {
  content: "head";
  background-color: var(--ifm-color-secondary-contrast-background);
  color: var(--ifm-color-secondary-contrast-foreground);
  border-color: var(--ifm-color-secondary-dark);
}

.event > .menu__link::before {
  content: "event";
  background-color: var(--ifm-color-secondary-contrast-background);
  color: var(--ifm-color-secondary-contrast-foreground);
  border-color: var(--ifm-color-secondary-dark);
}

.schema > .menu__link::before {
  content: "schema";
  background-color: var(--ifm-color-secondary-contrast-background);
  color: var(--ifm-color-secondary-contrast-foreground);
  border-color: var(--ifm-color-secondary-dark);
}